-
  const blogItems = [
    { 
      image: '@img/blog/blog-section1.png',
      alt: 'Фотография с пляжа',
      title: 'Топ вопросов от начинающих серферов',
      text: 'Собрали все частые вопросы от начинающих серферов. Некоторые из них довольно забавные, но ответ на каждый из них поможет тебе перестать мечтать, собраться и поехать серфить на океан.',
      ratingValue: 4,
      ratingCount: 23,
    },
    { 
      image: '@img/blog/blog-section2.png',
      alt: 'Фотография с пляжа',
      title: 'Как выжить в городе после серфинга',
      text: 'Итак, вы вернулись из серф-лагеря, глаза горят, и чувства не врут: теперь вы ― сёрфер. Но вокруг город и волны далеко. Как дальше жить и что делать? Зависит от того, насколько сильно сёрфинг вас зацепил.',
      ratingValue: 4,
      ratingCount: 34,
    }
  ]

section.blog-section
  .container
    .blog-section__inner  
      h2.blog-section__title Блог
      ul.blog-section__list
        each item in blogItems
          li.blog-section__item.blog-section-item
            img(src=item.image, alt=item.alt)
            .blog-section-item__textblock 
              h3.blog-section-item__title #{item.title}
              .blog-section__ratingblock 
                .blog-section__rating-area
                    img(src='@img/ratings/rating-4.png', alt='Рейтинг')
                .blog-section__ratingtext #{item.ratingValue} (#{item.ratingCount} ) 
                    a.blog-section__rating-link(href="#") Написать отзыв
              p.blog-section-item__text #{item.text}
        