-
  const blogItems = [
    { 
      image: '@img/blog/blog_1.png',
      alt: 'Фотография с пляжа',
      title: 'Топ вопросов от начинающих серферов',
      text: 'Собрали все частые вопросы от начинающих серферов. Некоторые из них довольно забавные, но ответ на каждый из них поможет тебе перестать мечтать, собраться и поехать серфить на океан.',
      textShort: 'Собрали все частые вопросы от начинающих серферов. Некоторые из них довольно забавные, но ответ на каждый из них поможет тебе перестать...',
      ratingValue: 4,
      ratingCount: 23,
      href: 'article.html'
    },
    { 
      image: '@img/blog/blog_2.png',
      alt: 'Фотография с пляжа',
      title: 'Как выжить в городе после серфинга',
      text: 'Итак, вы вернулись из серф-лагеря, глаза горят, и чувства не врут: теперь вы ― сёрфер. Но вокруг город и волны далеко. Как дальше жить и что делать? Зависит от того, насколько сильно сёрфинг вас зацепил.',
      textShort: 'Итак, вы вернулись из серф-лагеря, глаза горят, и чувства не врут: теперь вы ― сёрфер. Но вокруг город и волны далеко. Как дальше жить и...',
      ratingValue: 4,
      ratingCount: 34,
      href: 'article.html'
    },
    { 
      image: '@img/blog/blog_2.png',
      alt: 'Фотография с пляжа',
      title: 'Как выжить в городе после серфинга',
      text: 'Итак, вы вернулись из серф-лагеря, глаза горят, и чувства не врут: теперь вы ― сёрфер. Но вокруг город и волны далеко. Как дальше жить и что делать? Зависит от того, насколько сильно сёрфинг вас зацепил.',
      textShort: 'Итак, вы вернулись из серф-лагеря, глаза горят, и чувства не врут: теперь вы ― сёрфер. Но вокруг город и волны далеко. Как дальше жить и...',
      ratingValue: 4,
      ratingCount: 34,
      href: 'article.html'
    }
  ]

section.blog
  .container
    .blog__inner.slider  
      h2.blog__title Блог
      ul.blog__list.slider__items
        each item in blogItems
          li
            a.blog-item.slider__item(href=item.href)
              img(src=item.image, alt=item.alt, width="240")
              .blog-item__textblock 
                h3.blog-item__title #{item.title}
                p.blog-item__text.blog-item__text--largescreens #{item.textShort}
                p.blog-item__text.blog-item__text--smallscreens #{item.text}
      a.slider__control.slider__control-prev(href="#" role="button" data-slide="prev")
      a.slider__control.slider__control-next(href="#" role="button" data-slide="next")