- 
  const navItems = [
    {
      name: 'Каталог',
      href: 'catalog.html'
    },
    {
      name: 'О нас',
      href: 'about-us.html'
    },
    {
      name: 'Блог',
      href: 'blog.html'
    },
    {
      name: 'Туры',
      href: '#',
      subcategories: [
        {
          name: 'Марокко',
          href: 'tour.html'
        },
        {
          name: 'Бали',
          href: 'tour.html'
        },
        {
          name: 'Куте',
          href: 'tour.html'
        },
        {
          name: 'Камчатка',
          href: 'tour.html'
        },
        {
          name: 'Мирисс',
          href: 'tour.html'
        }
      ]
    }]
- const controls = ['login','cart']

header.header 
  .container
    h2.visually-hidden Шапка сайта
    .header__logo.logo
      a(href="/")
        picture 
          source(media="(max-width: 768px)", srcset="@img/surf-logo-small.svg")  
          img.unselectable.logo__image(src="@img/surf-logo.svg", alt="Наш логотип")
    nav.header__nav.nav
      ul.nav__list.nav__list-main
        each navItem in navItems
          li.nav__item 
            a.nav__link(href=navItem.href, class=activePage === navItem.name ? 'nav__link--active' : '') #{navItem.name}
              if navItem.subcategories
                nav.submenu
                  ul.submenu__list
                    each category in navItem.subcategories
                      li.submenu__item  
                        a.submenu__link(href=category.href) #{category.name}
    ul.header__controls.controls 
      each control in controls 
        li.control 
          a.control__link(href=`/${control}`)
            img(src=`img/${control}.svg`, alt=`${control} button`) 
    button.header__hamburger.hamburger
    nav.submenu-mobile
      each navItem in navItems
        ul.submenu-mobile__list
          if navItem.subcategories
            each item in navItem.subcategories
              li.submenu-mobile__item  
                a.submenu-mobile__link(href=item.href) #{item.name}
          button.submenu-mobile__btn
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_86_597)">
            <path d="M23.4974 10.7452C23.3951 10.7286 23.2915 10.721 23.188 10.7223H5.55097L5.93554 10.5435C6.31146 10.3655 6.65344 10.1234 6.94618 9.82796L11.892 4.8821C12.5434 4.26029 12.6529 3.26 12.1514 2.51202C11.5678 1.71497 10.4485 1.54191 9.65142 2.12555C9.58703 2.17272 9.52582 2.22415 9.4683 2.27949L0.524617 11.2232C-0.174332 11.9213 -0.174947 13.0539 0.52322 13.7528C0.523667 13.7533 0.52417 13.7538 0.524617 13.7542L9.4683 22.6979C10.1678 23.3955 11.3004 23.3939 11.998 22.6944C12.0529 22.6393 12.1041 22.5808 12.1514 22.519C12.6529 21.7711 12.5434 20.7708 11.892 20.149L6.95513 15.1942C6.69268 14.9314 6.39095 14.7112 6.06076 14.5413L5.52414 14.2998H23.0895C24.0033 14.3337 24.805 13.6954 24.9766 12.7973C25.1348 11.8221 24.4725 10.9034 23.4974 10.7452Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_86_597">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
            </svg>
