-
  const wetsuits = [
    {
      title: 'Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit',
      price: '27 398 руб',
      image: 'wetsuit_1.png',
      href: 'category.html'
    },
    {
      title: 'Гидрокостюм BILLABONG 3 Furnace Absolute GBS',
      price: '45 205 руб',
      image: 'wetsuit_2.png',
      href: 'category.html'
    },
    {
      title: 'Гидрокостюм VISSLA 7 Seas 2 mm Spring Suit SS',
      price: '15 790 руб',
      image: 'wetsuit_3.png',
      href: 'category.html'
    },
    {
      title: 'Гидрокостюм VISSLA 7 Seas Gadoo 2/2 LS Spring Suit',
      price: '19 865 руб',
      image: 'wetsuit_4.png',
      href: 'category.html'
    },
  ]

section.populargoods-common
  .container
    .populargoods-common__inner.slider
      h2.populargoods-common__title Популярные товары
      ul.populargoods-common__goods-list.slider__items
        each item in wetsuits 
          li
            a.goods-item.slider__item(href=item.href)
              img(src=`@img/goods/${item.image}`, alt=item.title)
              h4.goods-item__title #{item.title}
              p.goods-item__price #{item.price}
              button.goods-item__btn.btn.btn--quickview Купить
      a.slider__control.slider__control-prev(href="#" role="button" data-slide="prev")
      a.slider__control.slider__control-next(href="#" role="button" data-slide="next")