- 
  const tours = [
    {
      category: 'Cерфинг и путешествия',
      title: 'Серф-кемп Бали',
      image: '@img/tours/bali.png',
      href: 'tour.html'
    },
    {
      category: 'Cерфинг и путешествия',
      title: 'Серф-тур на Камчатке',
      image: '@img/tours/kamchatka.png',
      href: 'tour.html'
    },
    {
      category: 'Cерфинг и путешествия',
      title: 'Серф-тур на Шри Ланку',
      image: '@img/tours/shri.png',
      href: 'tour.html'
    },
  ]

section.tours
  .container
    .tours__inner 
      .tours__header-block 
        h2.tours__title Туры
        a.tours__tourslink Подробнее о турах
      ul.tours__list 
        each item in tours
          li.tour-item
            a(href=item.href)
              img(src=item.image, alt=item.title)
              .tour-item__infoblock 
                p.tour-item__category #{item.category}
                h4.tour-item__title #{item.title}